@import "../../../styles/abstracts.sass";
.nftinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $PAGE_BGC;
    color: $WHITE_DEFAULT;
    padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .nftinfo {
        padding-bottom: 0px;
    }
}
