@import '../../../../../styles/abstracts.sass';

.info_container {
    width: $CONTENT_WIDTH;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;

    .common_content {
        height: 196px;
        width: 458.5px;
        border-radius: 10px;
        background: rgba(45, 50, 60, 0.5);
        box-shadow: 1.95px 4px 3px rgba(18, 22, 27, 0.2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .spinning {
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            img {
                width: 56px;
            }
        }

        .info_title {
            font-family: $LATO;
            font-size: 24px;
            font-weight: 900;
            color: $ORANGE_DEFAULT;
            margin-left: 32px;
            margin-top: 32px;
        }

        .info_content {
            font-family: $EXO_2;
            color: $WHITE_DEFAULT;
            font-weight: 400;
            font-size: 28px;
            margin-left: 32px;
            margin-top: 24px;
        }

        .info_sub_content {
            font-family: $EXO_2;
            color: $ORANGE_DEFAULT;
            font-weight: 400;
            font-size: 20px;
            margin-top: 5px;
            margin-left: 32px;
        }
    }
}

@media screen and (max-width: 768px) {
    .info_container {
        flex-wrap: wrap;
        width: $MEDIA_CONTENT_WIDTH;
        padding-bottom: 400px;

        .common_content {
            width: 100%;
            height: 796px;
            padding: 32px;
            border-radius: 40px;
            justify-content: space-around;
            margin-top: 150px;
            .spinning {
                img {
                    width: 150px;
                }
            }

            .info_title {
                margin-top: 0;
                font-size: 96px;
            }

            .info_content {
                font-size: 112px;
            }


            .info_sub_content {
                font-size: 80px;
            }
        }
    }
}